{% extends 'base.html' %}
{% block title %}
<title>Post Delete</title>
{% endblock title %}
{% block mycontent %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <div class="alert alert-danger">
                        Do you want to delete post?
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <a class="btn btn-secondary btn-sm" href="{% url 'post_detail-page' post.id %}">Cancel</a>
                        <input class="btn btn-primary btn-sm" type="submit" value="Confirm">
                    </form>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}